.faq {
  width: 100%;
  margin-top: 32px;
  padding-bottom: 50px;
  padding: 25px 31px;
}
.wrapper {
  max-width: 1135px;
  margin: 0px auto;
}
.titleContainer {
  margin-bottom: 20px;
}
.title {
  color: var(--color-white);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
