.cardContainer {
  padding: 25px 31px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.topTitle {
  color: var(--color-white);
  /* font-family: Poppins; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.showAll {
  color: var(--color-primary);
  /* font-family: Poppins; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
