:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #fff;
  --extra-small-screen: 480px;
  --small-screen: 768px;
  --medium-screen: 992px;
  --large-screen: 1200px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-black);
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.swiper-slide {
  width: auto !important;
}

.MuiCircularProgress-root {
  color: var(--color-primary) !important;
}
.MuiPaper-root {
  border-radius: 10px !important;
}
.MuiAccordionSummary-root {
  background-color: var(--color-black) !important;
  border: 1px solid var(--color-white) !important;
  border-radius: 10px !important;
  color: var(--color-white) !important;
  padding: 12px 32px !important;
}
.MuiTypography-root {
  font-family: "Poppins", sans-serif !important;
}
